<?xml version="1.0"?>
<!--
  The model `m2` is an AGR robot with 4 steerable wheels that includes the fork_simple module.
  The fork_simple module contains:
  - A simlpe fork.
  - A realsense d435 camera (rgbd) mounted on the fork.
  - A realsense d435 camera (rgbd) inside the left tine.
  - A realsense d435 camera (rgbd) inside the right tine.
  - A Robosense Airy lidar mounted on the back of the robot.
  - A Robosense Airy lidar mounted on the front of the robot.
-->
<robot name="robot_agr_4sw_m2" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <!-- ===================================================================== -->
  <!-- INCLUDES -->
  <!-- ===================================================================== -->

  <xacro:include filename="$(find robot_agr_4sw)/urdf/includes/common.xacro"/>
  <xacro:include filename="$(find robot_agr_4sw)/urdf/includes/fork_simple_module.xacro"/>

  <!--
  The fork module creates the fork itself and the sensors mounted on it or above the body.
  This model file only adds the Gazebo joint state publisher for the full assembled robot.
  -->
  <xacro:if value="${use_sim_mode}">
    <gazebo>
      <xacro:property name="joint_state_publisher_sim_cfg"
                      value="${sim_cfg.get('joint_state_publisher', dict())}"/>

      <xacro:if value="${joint_state_publisher_sim_cfg.get('enabled', False)}">
        <xacro:property name="js_topic" value="${joint_state_publisher_sim_cfg.get('topic', '')}"/>

        <xacro:if value="${js_topic != ''}">
          <xacro:resolve_topic prop_id="resolved_js_topic"
                               topic="${js_topic}"
                               namespace="${robot_namespace}"/>

          <xacro:plugin_joint_state_publisher topic="${resolved_js_topic}">
            <joint_names>
              <joint_name>${robot_prefix}${fork_name}_root_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_0_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_0_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_1_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_1_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_2_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_2_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_3_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_3_name}_rotation_joint</joint_name>
            </joint_names>
          </xacro:plugin_joint_state_publisher>
        </xacro:if>
      </xacro:if>
    </gazebo>
  </xacro:if>
</robot>
