<?xml version="1.0"?>
<robot name="vog_base" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <!--
  This file publishes the `base` model of the `robot_vog` family.
  The robot name inside the URDF stays `vog_base`.
  -->
  <xacro:include filename="$(find robot_vog)/urdf/includes/common.xacro"/>

  <!--
  Be aware that if a property is not defined in this it is defined in the included model above.
  -->

  <xacro:if value="${use_sim_mode}">
    <gazebo>
      <!--
      Define a 'JointStatePublisher' Gazebo plugin to report the states of the joints.
      -->
      <xacro:property name="joint_state_publisher_sim_cfg"
                      value="${sim_cfg.get('joint_state_publisher', dict())}"/>

      <xacro:if value="${joint_state_publisher_sim_cfg.get('enabled', False)}">
        <xacro:property name="js_topic"
                        value="${joint_state_publisher_sim_cfg.get('topic', '')}"/>

        <!-- No topic, no Gazebo plugin -->
        <xacro:if value="${js_topic != ''}">
          <xacro:resolve_topic prop_id="resolved_js_topic"
                               topic="${js_topic}"
                               namespace="${robot_namespace}"/>

          <xacro:plugin_joint_state_publisher topic="${resolved_js_topic}">
            <joint_names>
              <joint_name>${robot_prefix}${steerable_wheel_0_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_0_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_1_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_1_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_2_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_2_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_3_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${steerable_wheel_3_name}_rotation_joint</joint_name>
            </joint_names>
          </xacro:plugin_joint_state_publisher>
        </xacro:if>
      </xacro:if>
    </gazebo>
  </xacro:if>
</robot>
